body {
  padding: 0;
  margin: 0;
  max-height: 768px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-content: center;
  justify-content: space-between;
  padding: 7px;
  height: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin: 20px;
}

.header > form > label {
  margin: 0 20px;
}

#Entrar {
  margin: 0 30px;
}

#trybewarts-header-title {
  color: white;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

main > form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nomeSobrenome {
  display: flex;
}

#emailHouses {
  display: flex;
}

#radios {
  display: flex;
  flex-direction: column;
}

/* footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(59, 59, 63);
  color: white;
  height: 28px;
} */

footer {
  text-align: center;
  background-color: rgb(59, 59, 63);
  color: white;
  height: 28px;
}

footer > p {
  padding-top: 5px;
}
